
/* Phones  */
@media screen and (max-width: 480px) { 

  .navMenu {
    display: 'none';
  }

  .category-section {
    overflow-x: hidden;
  }
  
  .footer-section {
    overflow-x: hidden;
  }

  .header-logo {
    width: '75px'
  }

  .hero-section {
    background-image: url('./assets/athletic-man-woman-with-dumbbells.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding: 25px; 
    padding-right: 10px;
  }

}

/* Laptops */
@media screen and (min-width:720px) {
  
  .hero-section {
    height: 70vh;
    width: 100%;
    background-image: url('./assets/air-caucasian-professional-male-athlete-runner-training-isolated-white-background.jpg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right;
  }

  .show-exercise {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    
  }

  .header-logo {
    width:'200px'
  }

  .exercise-card {
    transform: scale(1);
  }
  
  .exercise-card:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
    margin-bottom: 50px;
  }
}

span {
  text-transform: capitalize;
  color: gray;
  font-weight: bold;
  padding: 0.4px;
}
  
.no-scroll {
  overflow-x: hidden;
}